<h2 class="text-center mb-3">Breeders</h2>

<div class="row">

    <div class="col-sm">
        <h3>Search for a Breeder!</h3>
        <div class="card p-3">
            <input class="form-control" placeholder="Breeder Name" type="text" id="name" />
            <br />
            <input class="form-control" placeholder="City" type="text" id="city" />
            <br />
            <input class="form-control" placeholder="Group" type="text" id="group" />
            <br />
            <button type="button" class="btn btn-dark" id="search-breeder">Search for Breeder</button>
        </div>
    </div>

    <div class="col-sm">
        <h3>Don't See a Breeder? Click Here to Add Them!</h3>
        <a href="/add-breeder">
            <button type="button" class="btn btn-dark" id="add-breeder">Add Breeder</button>
        </a>
    </div>

</div>
{{!-- All Breeders Displayed --}}
<div class="row">
    {{#each breeders}}
    <div class="col-12-sm">
        <h2>{{dataValues.name}}</h2>
        Email: {{dataValues.email}}
        Breed: {{dataValues.breed}}
        Mission: {{dataValues.mission}}

        {{!-- If there is an upcoming litter it will display yes and the date, if not then it will display No and no date  --}}
        {{#if dataValues.litters}}
        Upcoming Litters?: Yes
        Litter Date: {{dataValues.litterDate}}
        {{else}}
        Litters: No
        {{/if}}
        Group: {{dataValues.group}}
        {{/each}}
    </div>
</div>
</div>

<script>

</script>