<h2 class="text-center mb-3">Events</h2>

<div class="row">

    <div class="col-sm">
        <h3>Search for Events!</h3>
        <div class="card p-3">
            <input class="form-control" placeholder="Event Name" type="text" id="name" />
            <br />
            <input class="form-control" placeholder="City" type="text" id="city" />
            <br />
            <input class="form-control" placeholder="Group" type="text" id="group" />
            <br />
            <button type="button" class="btn btn-dark" id="search-event">Search for Events</button>

        </div>
    </div>

    <div class="col-sm">
        <h3>Don't See an Event? Click Here to Add Them!</h3>
        <a href="/add-event">
            <button type="button" class="btn btn-dark" id="add-event">Add Event</button>
        </a>
    </div>

</div>

{{!-- Users should be able to attend or join events/competitions when an event is found --}}
{{!-- <div class="col-sm" id="join-events">
    <h3>Join an Event!</h3>
    <div class=""></div>
</div> --}}
<div class="container">

    <h2>Filterable Table</h2>
    <p>Type something in the input field to search the table for first names, last names or emails:</p>
    <input id="myInput" type="text" placeholder="Search..">
    <select id="competitionGroup">
        <option val=""></option>
        <option>Working</option>
        <option>All Groups</option>
        <option>Non-Sporting</option>
        <option>Terrier</option>
        <option>Hound</option>
    </select>
    <button class="btn btn-dark clear">Clear</button>
    <br><br>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Description</th>
                <th>Location</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {{#each competitions}}
            <tr>
                <td>{{dataValues.name}}</td>
                <td>{{dataValues.email}}</td>
                <td>{{dataValues.date}}</td>
                <td>{{dataValues.description}}</td>
                <td>{{dataValues.location}}</td>
                <td id="group">{{dataValues.group}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
</div>


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function () {
        $('#competitionGroup').change(function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

            });
        });
    });

    $(".clear").on("click", function () {
        event.preventDefault();

        $("#myInput").val("").trigger("keyup");
        $("#competitionGroup").val("").trigger("change");
    })

</script>