<div class="container">

    <h2 class="text-center mb-3">Events</h2>

    <div class="row">
        <div class="col-sm-6 my-4">
            <h3 class="mb-4">Search for Events!</h3>

        </div>

        <div class="col-sm-6 text-center my-4 float-right">
            <h3>Don't See an Event? Click Here to Add Them!</h3>
            <a href="/add-event">
                <button type="button" class="btn btn-dark" id="add-event">Add Event</button>
            </a>
        </div>


        {{!-- All Competitions Displayed --}}

        <div class="row">

            <br>

            <table class="table table-hover">
                <input class="col-sm-3 my-1" type="text" id="userInput" onkeyup="myFunction()"
                    placeholder="Search Breeders">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Group</th>
                    </tr>
                </thead>

                {{#each competitions}}

                <tbody>
                    <tr>
                        <th><strong>{{dataValues.name}}</th>
                        </strong>
                        <td>{{dataValues.email}}</td>
                        <td>{{dataValues.date}}</td>

                        <td>

                            {{dataValues.description}}</td>
                        <td>{{dataValues.location}}</td>
                        <td>{{dataValues.group}}</td>
                    </tr>
                </tbody>


                {{/each}}
                <div class="col-12-sm">
                </div>
            </table>
        </div>


    </div>

    {{!-- Users should be able to attend or join events/competitions when an event is found --}}
    {{!-- <div class="col-sm" id="join-events">
    <h3>Join an Event!</h3>
    <div class=""></div>
</div> --}}


</div>
</div>

<script>


</script>